<ion-navbar *navbar>
    <ion-title>Gusti</ion-title>
</ion-navbar>

<ion-content padding>
    <h4>Scegli il contenuto del tuo panino!</h4>
    <ion-list *ngFor="let sezione of gustiSezioni">
        <ion-list-header>{{sezione.nome}}</ion-list-header>
        <ion-grid>
            <ion-row *ngFor="let gusto of getGusti(sezione.gusti, true); let i = index">
                <ion-col>
                    <ion-item>
                        <ion-label>{{gusto.id}} - {{gusto.nome}}</ion-label>
                        <ion-checkbox danger [(ngModel)]="gusto.selezionato"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <button fab-bottom fab-right style="position:fixed" *ngIf="getGustiSelezionati().length > 0" (click)="goToNextPage()">Prosegui</button>
</ion-content>
