<ion-navbar *navbar>
  <ion-title>Gusti</ion-title>
</ion-navbar>

<ion-content>
    <ion-item-divider light>Scegli il contenuto del tuo panino!</ion-item-divider>
    <ion-list *ngFor="let sezione of gustiSezioni">
      <ion-list-header>{{sezione.nome}}</ion-list-header>
      <ion-item *ngFor="let gusto of sezione.gusti">
        <ion-label>{{gusto.id}} {{gusto.nome}}</ion-label>
        <ion-checkbox danger></ion-checkbox>
      </ion-item>
    </ion-list>
    <button type="button" name="button" (click)="goToNextPage()">Prosegui</button>
</ion-content>
